{% load staticfiles %}

<table id="tab_schedules" class="table"></table>
<div id="pag_schedules"></div>

<form method="post" name="form_field" class="center tam400 form_post"
      action="/app/schedule/finish/{{ schedule.id }}.html" data-close="dlg-project">

    <input type="hidden" value="{{ schedule.project }}" id="project_id"/>
    <input type="hidden" value="{{ schedule.id }}" id="schedule_id" name="schedule_id"/>

    <div class="actions center tam400 text-center">
        <button type="submit" class="btn-save">
            Agendar!
        </button>
    </div>
</form>

<script type="text/javascript" src="{% static 'js/schedule/schedule.js' %}"></script>