Django==1.8.5
PyJWT==1.4.0
SQLAlchemy==1.0.8
defusedxml==0.4.1
django-kronos==0.8
exrex==0.9.4
fake-factory==0.5.3
gunicorn==19.3.0
oauthlib==1.0.3
psycopg2==2.6.1
python-social-auth==0.2.13
python3-openid==3.0.7
requests==2.8.1
requests-oauthlib==0.5.0
sendgrid==1.5.7
six==1.10.0
smtpapi==0.3.1
