<div id="accordion">
    <h3>Parâmetros de pesquisa</h3>

    <div>
        <p>

        <form name="form_pesquisa" class="form_pesquisa tam600 center" method="post">
            <label for="codigo">Código:</label>
            <input type="text" name="codigo" id="codigo"/>

            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome"/>

            <div class="actions center tam400">
                <button type="button" class="btn-search">Pesquisar</button>
            </div>
        </form>
        </p>
    </div>
</div>