{% load staticfiles %}
<div id="accordion" class="accordion">
    <h3>Parâmetros de pesquisa</h3>

    <div>
        <form name="form_pesquisa" class="form_pesquisa center tam600 busca_projeto" method="post">
            <label for="codigo">Código:</label>
            <input type="text" name="codigo" id="codigo"/>

            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome"/>

            <div class="actions center tam330">
                <button type="submit" class="btn-search">Pesquisar</button>
                <button type="reset" class="btn-clean" data-update="tab_project">Limpar</button>
                <button type="button" class="btn-add open"
                        data-div="dlg-project"
                        data-width="500"
                        data-height="160"
                        data-title="Cadastro de Projeto"
                        data-url="/app/project/record.html"
                        >Adicionar
                </button>
            </div>
        </form>
    </div>
</div>


<table id="tab_project" class="table"></table>
<div id="pag_project"></div>

<div class="ui-widget-content help">

    <h4>Legenda dos botões de ação</h4>
    <br>


    <div class="item-help">
        <button class="btn-files mini"></button>
        Visualizar, Acompanhar execuções de agendamentos e efetuar download de arquivos gerados.
    </div>

    <div class="item-help">
        <button class="btn-table mini"></button>
        Visualizar, Adicionar, Editar ou remover as tabelas que fazem parte do projeto
    </div>

    <div class="item-help">
        <button class="btn-edit mini"></button>
        Editar o projeto
    </div>

    <div class="item-help">
        <button class="btn-start mini"></button>
        Agendar geração de dados do projeto.
    </div>

    <div class="item-help">
        <button class="btn-trash-icon mini"></button>
        Inativar logicamente o projeto
    </div>

</div>

<script type="text/javascript" src="{% static "js/project/project.js" %}"></script>