{% extends 'layout.html' %} {% block corpo %}
<div id="users-contain" class="ui-widget">
	<h1>Cadastro de Banco de dados</h1>
	<table id="users" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Endereço</th>
				<th>Usuário</th>
				<th>Banco de Dados</th>
				<th>Criação</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John Doe</td>
				<td>john.doe@example.com</td>
				<td>johndoe1</td>
			</tr>
		</tbody>
	</table>
</div>
<button id="create-conection">Novo registro</button>
<div class="window" title="Cadastro de Conexão">
	<form method="post" action="#" enctype="multipart/form-data">
		{% csrf_token %} {{ form.hostname.label }} {{ form.hostname }} {{
		form.database.label }} {{ form.database }} {{ form.username.label }}
		{{ form.username }} {{ form.as_p }} <input type="submit"
			class="botao salvar" value="Salvar" />
	</form>


</div>
{% endblock %} {% block script %}
<script type="text/javascript" src="/media/js/function.js"></script>
{% endblock %}
