{% extends 'layout.html' %}

{% block corpo %}
    {% load endless %}

    <div id="users-contain" class="ui-widget">
        <h1>Cadastro de Banco de dados</h1>
        <table id="users" class="ui-widget ui-widget-content">
            <thead>
            <tr class="ui-widget-header ">
                <th>Ações</th>
                <th>Cod</th>
                <th>Endereço</th>
                <th>Usuário</th>
                <th>Banco de Dados</th>
                <th>Criação</th>
            </tr>
            </thead>
            <tbody>
            {% lazy_paginate lista %}
            {% for registro in lista %}
                <tr>
                    <td>
                        <a class="botao" href="/tabelas/{{ registro.id }}.html">
                            Tabelas
                        </a>
                        <a class="btn-edit" href="#" id="{{ registro.id }}">
                            Editar
                        </a>
                    </td>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.hostname }}</td>
                    <td>{{ registro.username }}</td>
                    <td>{{ registro.database }}</td>
                    <td>{{ registro.created }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button id="create-conection">Novo registro</button>
    <div class="window" title="Cadastro de Conexão">
        <form method="post" action="/conexao.html" id="cadastro-conection" enctype="multipart/form-data">

            <label> {{ form.hostname.label }}</label>

            {{ form.hostname }}
            <label>{{ form.database.label }}</label>
            {{ form.database }}
            <label>{{ form.username.label }}</label>
            {{ form.username }}

            <input type="submit" class="btnsave bloco" value="Salvar"/>
        </form>
    </div>

    <div class="retorno">

    </div>
<center>
    {% show_pages %}
</center>

{% endblock %} {% block script %}

{% endblock %}
