{% load staticfiles %}
<div id="accordion_field" class="accordion">
    <h3>Parâmetros de pesquisa</h3>

    <div>
        <form name="form_pesquisa" class="form_pesquisa center tam600 busca_field" method="post">

            <input type="hidden" name="table" id="table" value="{{ table }}"/>

            <label for="codigo_campo">Nome:</label>
            <input type="text" name="codigo_campo" id="codigo_campo"/>

            <label for="nome_campo">Nome:</label>
            <input type="text" name="nome_campo" id="nome_campo"/>

            <div class="actions center tam300">
                <button type="submit" class="btn-search">Pesquisar</button>
                <button type="reset" class="btn-clean" data-update="tab_field">Limpar</button>
                <button type="button" class="btn-add open"
                        data-div="dlg-field"
                        data-width="600"
                        data-height="600"
                        data-title="Cadastro de Campo"
                        data-url="/app/field/record/{{ table }}.html"
                        >Adicionar
                </button>
            </div>
        </form>
    </div>
</div>

<table id="tab_field" class=""></table>
<div id="pag_field"></div>

<script type="text/javascript" src="{% static "js/field/field.js" %}"></script>