{% extends 'layout.html' %}


{% block content %}
    <h1>Pydatagen - Gerador de registros para banco de dados</h1>

    <p>O Pydatagen é uma ferramenta em desenvolvimento, mantida por Erick Roberto de Oliveira. A proposta do software é
        gerar scripts de inserção automática de registros relevantes(similares à um ambiente de produção). </p>

    <h2>Sobre o autor</h2>
    <p>Erick Roberto de Oliveira é formando em Sistemas para Intenet no Instituto Federal de Mato Grosso do Sul.
        Trabalha na área de Qualidade de software. Já se envolveu com as seguintes tecnologias:</p>
    <ul>
        <li>HTML(XHTML,HTML4,HTML5)</li>
        <li>Javascript(Jquery, ExtJS Framework)</li>
        <li>Python(SqlAlchemy, Django, Web2py, PyQT4)</li>
        <li>PHP(Zend Framework, Cake PHP, Symphony, Yii)</li>
        <li>Linux(Apache, Nginx, Ossec, BindDNS, FTP Server, Firewall)</li>
        <li>Java (Android, J2EE)</li>
    </ul>
{% endblock %}
