{% extends 'layout.html' %}

{% block title %}

    Cadastro de Tabelas do Projeto {{ project.name }}

{% endblock %}


{% block content %}
    <p>
        <a class="btn btn-info" href="/table/{{ project.id }}/record">
            Novo Registro
        </a>
        <br>
    <hr>
    <h5>Tabelas Cadastradas para o Projeto {{ project }}</h5>
    <hr>
    </p>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Cód</th>
            <th>Nome</th>
            <th>Quantidade de Campos</th>
            <th>Chave Primária</th>
            <th>Ordem</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for record in record_list %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.app_field_table.count }}</td>
                <td></td>
                <td>{{ record.order }}</td>
                <td>
                    <a class="btn" href="/table/{{ project.id }}/{{ record.id }}"><i
                            class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn" href="/fields/{{ record.id }}"><i class="glyphicon glyphicon-list-alt"></i></a>
                    <a class="btn" href="/table/delete/{{ record.id }}"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}